.rodape {
    background-color: rgb(0, 0, 0);
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}

.rodape a {
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
}

.logo {
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.rodape-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.rodape-div-logo,
.rodape-div-dev,
.rodape-div-sup,
.rodape-div-sociais,
.rodape-div-outros {
    display: flex;
    width: calc(100% / 5 - 20px);
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-direitos {
    width: calc(100% - 20px);
    background-color: black;
    padding: 1rem;
    margin: 0px;
    text-align: center;
}

/*mobile*/
@media (max-width: 800px) {

    .rodape-div-logo,
    .rodape-div-dev,
    .rodape-div-sup,
    .rodape-div-sociais,
    .rodape-div-outros {
        width: calc(50% - 20px);
        padding: 10px;
    }

    .rodape-container {
        padding: 60px 0px 40px 0px;
    }
}