<footer class="footer">
  <div>
    
    <ul id="footer2">
      <img class="logo" src="./assets/imgs/logotipo.png" alt="logotipo" routerLink="/login" >
      <div class="lista1">
      <div class="desenvolvedores">
        <b>Desenvolvedores</b>
        <ul>Guilherme</ul>
        <ul>Leonardo Roi</ul>
        <Ul>Lucas Moraes</Ul>
        <ul>Matheus</ul>
      </div>
            
      <div><b>Suporte </b>
        <ul>FAQ</ul>
      </div>
      <div><b>Social mídia</b>
      <ul><i class="bi bi-facebook"></i></ul>
    </div>
      <div><b>Sistemap</b>
        <ul>Sobre nós</ul>
        <ul>Promos</ul>
      </div>
      </div>
    </ul>
    <div class="texto2">
      <p> <b>   Aesthetic gym</b></p>
    </div>
    <div class="texto3">
    <p> Destaque os beneficios de cada exercicío, tanto físicos quanto mentais.</p>
  </div>
  </div>






  <ul class="border-bottom"></ul>
  <div class="tudo">
    <div>
      <p>© 2024 Aesthetic gym </p>
    </div>
    <div>
      <ul class="texto">
        <li>Termos de uso</li>
        <li>Políticas de privacidades</li>
      </ul>
    </div>
  </div>
</footer>