<footer class="rodape" id="contato">
  <div class="rodape-container">
    <div class="rodape-div-logo">
      <div class="text-center" style="max-width: 70%">
        <img
          class="logo"
          src="./assets/imgs/logotipo.png"
          alt="logotipo"
          routerLink="/login"
        />
        <p>
          Destaque os benefícios de cada exercício, tanto físicos quanto
          mentais.
        </p>
      </div>
    </div>

    <div class="rodape-div-dev">
      <div>
        <span><b>Desenvolvedores</b></span>
        <p>Guilherme</p>
        <p>Leonardo</p>
        <p>Lucas</p>
        <p>Matheus</p>
      </div>
    </div>

    <div class="rodape-div-sup">
      <div>
        <span><b>Suporte</b></span>
        <p><a routerLink="/">FAQ</a></p>
      </div>
    </div>

    <div class="rodape-div-sociais">
      <div>
        <span><b>Redes sociais</b></span>
        <p><a routerLink="/">INSTAICON</a></p>
        <p><a routerLink="/">FACEICON</a></p>
        <p><a routerLink="/">TWITTERICON</a></p>
      </div>
    </div>

    <div class="rodape-div-outros">
      <div>
        <span><b>Outros</b></span>
        <p>Sobre nós</p>
        <p>Planos</p>
      </div>
    </div>
  </div>
  <ul class="border-bottom mb-0"></ul>
  <p class="rodape-direitos mb-0">© 2024 Aesthetic gym</p>
</footer>
