<footer class="rodape" id="contato">
  <div class="rodape-container">
    <div class="rodape-div-logo">
      <div class="text-center" style="max-width: 70%">
        <img
          class="logo"
          src="./assets/imgs/logotipo.png"
          alt="logotipo"
          routerLink="/login"
        />
        <p>
          Destaque os benefícios de cada exercício, tanto físicos quanto
          mentais.
        </p>
        
      </div>
    </div>

    <div class="rodape-div-dev">
      <div>
        <span><b>Desenvolvedores</b></span>
        <p>Guilherme Massayuki</p>
        <p>Leonardo Rossi</p>
        <p>Lucas Marques</p>
        <p>Matheus Souza</p>
      </div>
    </div>


    <div class="rodape-div-sociais" >
      
      <div class="tamanho-icon">
        <span><b>Redes sociais</b></span>
        <p><a routerLink="/"><i class="bi bi-instagram"></i></a></p>
        <p><a routerLink="/"><i class="bi bi-facebook"></i></a></p>
        <p><a routerLink="/"><i class="bi bi-twitter-x"></i></a></p>
        <p><a routerLink="/"><i class="bi bi-github"></i></a></p>
      </div>
    </div>

    
  </div>
  <ul class="border-bottom mb-0"></ul>
  <p class="rodape-direitos mb-0">© 2024 Aesthetic gym</p>
</footer>
