<nav class="navbar">
  <div>
    <img class="logo" src="./assets/imgs/logotipo.png" alt="logotipo" routerLink="/home" />
  </div>

  <div class="lista">
    <ul class="nav-lista-home">
      <li>
        <a (click)="scrollTo('header')">Home</a>
      </li>
      <li>
        <a (click)="scrollTo('programas')">Funcionalidades</a>
      </li>
      <li>
        <a (click)="scrollTo('pacotes')">Pacotes</a>
      </li>
    </ul>
  </div>

  <div class="botoes">
    <div>
      <button type="button" class="btn btn-outline-dark" routerLink="/login">
        Login
      </button>

      <button type="button" class="btn btn-primary" routerLink="/cadastro">
        Registrar
      </button>
    </div>
  </div>
</nav>
