<div class="container mt-5">
  <header class="text-center mb-4">
    <h1>Cadastrar cardápio nutricional</h1>
  </header>
  <main>
    <section class="select-aluno mb-4">
      <div class="form-group ml-0 w-100 mb-4">
        <h2>Usuário:</h2>
        <ng-select id="capa-usuario" name="usuarioLista" [(ngModel)]="selectedUser"
          [placeholder]="selectedUser ? '' : 'Selecione o usuario:'" (change)="atualizarUserInformacoes()">
          <ng-option *ngFor="let user of users" [value]="user">
            {{ user.nome }}
          </ng-option>
        </ng-select>
      </div>
    </section>
    <section class="user-info mb-4" *ngIf="selectedUser">
      <h2>Informações do usuário</h2>
      <p>Nome: {{ selectedUser?.nome }}</p>
      <p>Email: {{selectedUser?.email }}</p>
      <p>Função: {{selectedUser?.funcao }}</p>
      <p>Data de cadastro: {{formatarData(selectedUser?.dataCriacao) }}</p>
    </section>
    <section class="nutrition-plan mb-5" *ngIf="selectedUser">
      <h2>Plano de Nutrição</h2>
      <div class="form-group mt-2">
        <label for="diaSemana">Selecione o dia da semana:</label>
        <ng-select id="diaSemana" name="diaSemana" [(ngModel)]="diaSelecionado"
          [placeholder]="diaSelecionado ? '' : 'Selecione o dia:'">
          <ng-option *ngFor="let dia of diasSemana" [value]="dia">
            {{ dia }}
          </ng-option>
        </ng-select>
      </div>
      <div class="nova-refeicao">
        <button (click)="adicionarRefeicao()" class="btn btn-success mt-4">Nova refeição <i
            class="bi bi-plus-circle"></i></button>
      </div>
      <div class="refeicoes-list mt-4" *ngFor="let refeicao of planoDoDia.refeicoes">
        <div class="card mb-5">
          <div class="card-header">
            <div *ngIf="refeicao.isEditing">
              <input type="text" [(ngModel)]="refeicao.nome" placeholder="Nome da Refeição" class="form-control">
            </div>
            <h5 class="card-title" *ngIf="!refeicao.isEditing" (click)="refeicao.isEditing = true">{{ refeicao.nome }}</h5>
          </div>
          <div class="card-body">
            <div *ngIf="refeicao.isEditing">
              <input type="text" [(ngModel)]="refeicao.descricao" placeholder="Descrição" class="form-control mb-2">
              <input type="text" [(ngModel)]="refeicao.horarioRefeicao" placeholder="Horário" class="form-control mb-2">
              <input type="number" [(ngModel)]="refeicao.calorias" placeholder="Calorias" class="form-control mb-2">
            </div>
            <div class="card-body-itens" *ngIf="!refeicao.isEditing">
              <p class="card-text">Descrição: {{ refeicao.descricao }}</p>
              <p class="card-text">Horário: {{ refeicao.horarioRefeicao }}</p>
         
              <p class="card-text">Calorias: {{ refeicao.calorias }} kcal</p>
            </div>
            <div class="d-flex botoes-acao">
              <button (click)="toggleEdit(refeicao)"
                class="btn btn-acao {{ refeicao.isEditing ? 'btn-success' : 'btn-warning' }}">
                <i class="bi" [ngClass]="refeicao.isEditing ? 'bi-check-lg' : 'bi-pencil-fill'"></i>
              </button>
              <button (click)="deletarRefeicao(refeicao)" class="btn btn-danger btn-acao"><i class="bi bi-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="!selectedUser" class="user-undefined">
      <span>Nenhum usuário selecionado</span>
  </section>
  </main>
</div>