<div class="container mt-5">
  <header class="text-center mb-4">
    <h1>Cadastrar cardápio nutricional</h1>
  </header>
  <main>
    <section class="select-aluno mb-4">
      <div class="form-group ml-0 w-100 mb-4">
        <h2>Usuário:</h2>
        <ng-select id="capa-usuario" name="usuarioLista" [(ngModel)]="selectedUser"
          [placeholder]="selectedUser ? '' : 'Selecione o usuario:'">
          <ng-option *ngFor="let user of users" [value]="user">
            {{ user.nome }}
          </ng-option>
        </ng-select>
      </div>
    </section>
    <section class="user-info mb-4" *ngIf="selectedUser">
      <h2>Informações do usuário</h2>
      <p>Nome: {{ selectedUser?.nome }}</p>
      <p>Email: {{selectedUser?.email }}</p>
      <p>Função: {{selectedUser?.funcao }}</p>
      <p>Data de cadastro: {{formatarData(selectedUser?.dataCriacao) }}</p>
    </section>
    <section *ngIf="alunoSelecionado" class="nutricao-info">
      <h2>Informações do Aluno</h2>
      <p><strong>Nome:</strong> {{ alunoSelecionado.nome }}</p>
      <p><strong>Idade:</strong> {{ alunoSelecionado.idade }}</p>
      <p><strong>Nível:</strong> {{ alunoSelecionado.nivel }}</p>
    </section>
    <section class="nutrition-plan" *ngIf="selectedUser">
      <h2>Plano de Nutrição</h2>
      <div class="form-group mt-2">
        <label for="diaSemana">Selecione o dia da semana:</label>
        <ng-select id="let dia of diasSemana" name="usuarioLista" [(ngModel)]="diaSelecionado"
          [placeholder]="diaSelecionado ? '' : 'Selecione o dia:'">
          <ng-option *ngFor="let dia of diasSemana" [value]="dia">
            {{ dia }}
          </ng-option>
        </ng-select>
      </div>
      <div class="row mt-4">
        <div class="col-md-6 mb-4" *ngFor="let refeicao of planoDoDia.refeicoes">
          <div class="card">
            <div class="card-header">
              <h3>{{ refeicao.nome }}</h3>
            </div>
            <div class="card-body">
              <p>Descrição: {{ refeicao.descricao }}</p>
              <p>Calorias: {{ refeicao.calorias }}</p>
              <div class="d-flex botoes-acao">
                <button class="btn btn-acao btn-warning">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-danger btn-acao">

                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3 mb-3">
        <button id="novaRefeicao" (Click)="adicionarRefeicao()" class="btn btn-success">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>

    </section>
    <section *ngIf="!selectedUser" class="user-undefined"><span>Nenhum usuário selecionado</span></section>
  </main>
</div>