<body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1 class="title">Login</h1>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label class="lb-senha" for="password">Senha <a style="text-decoration: none;" href="/">Esqueceu a senha?</a></label>
            <input type="password" placeholder="Digite seu e-mail" />
            <button type="submit" class="btn btn-primary">Login</button>
            <label class="lb-cadastro" for="password">Não possui uma conta? <a style="text-decoration: none;margin-left: 5px;" href="/">Criar conta</a></label>
        </form>
    </div>
    
</body>