<body>
  <div class="home-mid">
    <div class="galeria">
      <img
        class="img"
        src="../../../assets/imgs/midhomediv.jpg"
        alt="logotipo"
        routerLink="/login"
      />
    </div>
    <div class="conteudo">
      <h1>Transforme sua</h1>
      <h1>forma física com</h1>
      <h1>nossos planos fitness</h1>
      <ul>
        <li><span class="check">&#10003;</span>Aumente a sua força</li>
        <li><span class="check">&#10003;</span>Seja mais saúdavel</li>
        <li>
          <span class="check">&#10003;</span>Melhore a sua qualidade de vida
        </li>
      </ul>
      <button type="button" class="btn btn-primary" routerLink="/login">
        Entrar agora
      </button>
    </div>
  </div>
</body>
