<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div>
      <img class="logo" src="./assets/imgs/logotipo.png" alt="logotipo" routerLink="/home" />
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="lista-menu collapse navbar-collapse" id="navbarScroll">
      <ul class="nav-lista-auth navbar-nav my-2 my-lg-0 navbar-nav-scroll">
        <li *ngIf="userRole != 'ALUNO'">
          <a routerLink="/aesthetic/lista-aluno">Usuários</a> <!--Caso: professor-->
        </li>
        <li>
          <a routerLink="/aesthetic/meu-treino">Meu treino</a> <!--Caso: aluno-->
        </li>
        <li *ngIf="userRole != 'ALUNO'">
          <a routerLink="/aesthetic/cadastro-treino">Cadastrar treino</a>
        </li>
        <li>
          <a>Avaliaçao física</a> <!--Histórico de avaliação fisica do aluno-->
        </li>

        <li>
          <a data-toggle="modal" data-target="#sobreModal">Sobre</a> <!--Histórico de avaliação fisica do aluno-->
        </li>

      </ul>
      <div class="botoes">
        <div>
          <button type="button" class="btn btn-outline-danger" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>


  </div>
</nav>

<app-sobre></app-sobre>
