<nav class="navbar">
    <div>
      <img class="logo" src="./assets/imgs/logotipo.png" alt="logotipo" routerLink="/home" />
    </div>
  
    <div class="lista-menu">
      <ul class="nav-lista-auth">
        <li>
          <a>Alunos</a>
        </li>
        <li>
          <a>Treinos</a>
        </li>
        <li>
          <a>Pacotes</a>
        </li>
      </ul>
    </div>
  
    <div class="botoes">
      <div>
        <button type="button" class="btn btn-outline-danger" routerLink="/home">
          Logout
        </button>
      </div>
    </div>
  </nav>
  