<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div>
      <img class="logo" src="./assets/imgs/logotipo.png" alt="logotipo" routerLink="/aesthetic/inicio" />
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="lista-menu collapse navbar-collapse" id="navbarScroll">
      <ul class="nav-lista-auth navbar-nav my-2 my-lg-0 navbar-nav-scroll">
        <li>
          <a routerLink="/aesthetic/inicio">Início</a>
        </li>
        <li *ngIf="userRole != 'ALUNO'">
          <a routerLink="/aesthetic/lista-aluno">Usuários</a> 
        </li>
        <li>
          <a routerLink="/aesthetic/meu-treino">Meu treino</a> 
        </li>
        <li *ngIf="userRole != 'ALUNO'">
          <a routerLink="/aesthetic/cadastro-treino">Cadastrar treino</a>
        </li>
        <li>
          <a  routerLink="/aesthetic/meu-cardapio">Meu cardápio</a>
        </li>
        <li *ngIf="userRole != 'ALUNO'">
          <a routerLink="/aesthetic/nutricao-cadastro">Cadastrar cardápio </a>
        </li>
        
        <li>
          <a data-toggle="modal" data-target="#sobreModal">Sobre</a> <!--Histórico de avaliação fisica do aluno-->
        </li>
      </ul>
      <div class="botoes">
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmacaoModal">
          Logout
        </button>
      </div>
    </div>
<!-- Modal de confirmação -->
<div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog" aria-labelledby="confirmacaoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmacaoModalLabel">Confirmação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja sair?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-success" (click)="confirmarLogout()">Sim</button>
      </div>
    </div>
  </div>
</div>


  </div>
</nav>

<app-sobre></app-sobre>
