<body>
  <div class="programas-body">
    <div class="mb-5">
      <h1>Funcionalidades</h1>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Treinos</h5>
          <ul>
            <li>Plano de Treino Personalizado</li>
            <li>Acesso a Personal Trainers</li>
            <li>Variedade de Aulas Coletivas</li>
            <li>Equipamentos Modernos</li>
            <li>Avaliações Físicas Regulares</li>
           </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nutrição</h5>
            <ul class="card-text">
              <li>Consultoria Nutricional</li>
              <li>Planos Alimentares Personalizados</li>
              <li>Monitoramento Contínuo</li>
              <li>Suporte Educacional</li>
            </ul>
          
        </div>
      </div>
      
    </div>
  </div>
</body>
