body {
    color: white;
    text-align: center;
    background-color: black;
}

planos {
    display: flex;
    flex-direction: column;
}

.title {
    color: #0d6efd;
}

.tipos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tipos-container {
    background-color: white;
    width: 260px;
    border-radius: 15px;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 115px;
    border-radius: 12px;
    height: 45px;
}

.btn-dark {
    background-color: black;
}

.card-group {
    gap: 25px;
}

.card {
    width: 320px;
    min-width: 320px !important;
    max-width: 320px !important;
    height: 192px;
    border-radius: 16px !important;
    background-color: #0D0D0D;
    color: white;
    text-align: justify;
}

.card:hover {
    transform: scale(1.1);
    background-color: #0d6efd;
}

.card:hover p {
    color: white !important;
}


.card-group {
    justify-content: center;
}

@media(max-width: 768px) {
    .card-group {
        display: flex!important;
        flex-direction: column;
        align-items: center;
    }
}