<body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1 class="title">Cadastro</h1>
            <label for="nome">Nome</label>
            <input type="nome" placeholder="Digite seu nome" autofocus="true" />
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label class="lb-senha" for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha"/>
            <label class="lb-senha" for="password">Confirme a senha</label>
            <input type="password" placeholder="Confirme sua senha"/>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <label class="lb-cadastro" for="password">Já possui uma conta? <a class="router-link" style="margin-left: 5px;" href="/login">Login</a></label>
        </form>
    </div>  
</body>