.container {
    max-width: 900px;
  }
  
  header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
  }
  
  .user-info {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
  }
  
  .card {
    border-radius: 5px;
  }
  
  .card-header {
    background-color: #000000;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  h3 {
    color: #fafafa;
  }
  
  h4 {
    color: #666;
  }
  
  p {
    margin: 5px 0;
  }

  .botoes-acao {
    gap: 1rem;
    justify-content: end;
  }

  .nome-treino{
    margin-right: 1rem;
  }

  .descricao-treino{
    height: 250px
  }