
.ajuste-footer {
    height: 100px;
    background-color: #000000;
}

.lista-menu{
    font-size: 20px;
}

.close{
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    margin-top: -5px;
}