<div class="container mt-5">
    <header class="text-center mb-4">
      <h1>Bem-vindo, {{ aluno.nome }}</h1>
    </header>
    <main>
      <section class="user-info mb-4">
        <h2>Informações do Aluno</h2>
        <p>Nome: {{ aluno.nome }}</p>
        <p>Idade: {{ aluno.idade }}</p>
        <p>Nível: {{ aluno.nivel }}</p>
      </section>
      <section class="training-plan">
        <h2>Plano de Treino</h2>
        <div class="row">
          <div class="col-md-6 mb-4" *ngFor="let treino of treinos">
            <div class="card">
              <div class="card-header">
                <h3>{{ treino.nome }}</h3>
              </div>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li *ngFor="let exercicio of treino.exercicios">
                    <h4>{{ exercicio.nome }}</h4>
                    <p>Séries: {{ exercicio.series }}</p>
                    <p>Repetições: {{ exercicio.repeticoes }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  