<div class="container mt-5">
  <main>
    <section class="user-info mb-4">
      <h2>Informações do usuário:</h2>
      <p>Nome: {{ aluno.nome }}</p>
      <p>Email: {{ aluno.email }}</p>
    </section>
    <section class="nutrition-plan">
      <h2>Plano de Nutrição</h2>
      <div class="form-group">
        <label for="diaSemana">Selecione o dia da semana:</label>
        <ng-select id="let dia of diasSemana" name="usuarioLista" [(ngModel)]="diaSelecionado"
          [placeholder]="diaSelecionado ? '' : 'Selecione o dia:'">
          <ng-option *ngFor="let dia of diasSemana" [value]="dia">
            {{ dia }}
          </ng-option>
        </ng-select>
      </div>
      <div class="row mt-4">
        <div class="col-md-6 mb-4" *ngIf="!planoDoDia || planoDoDia.refeicoes.length === 0">
          <span>Nenhuma dieta criada para este dia.</span>
        </div>
        <div class="col-md-6 mb-4" *ngFor="let refeicao of planoDoDia.refeicoes">
          <div class="card">
            <div class="card-header">
              <h3>{{ refeicao.nome }}</h3>
            </div>
            <div class="card-body">
              <p>Descrição: {{ refeicao.descricao }}</p>
              <p>Horário {{refeicao.horarioRefeicao}}</p>
              <p>Calorias: {{ refeicao.calorias }} kcal</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>