body {
    color: white;
    text-align: center;
    background-color: black;
    /*
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../../assets/imgs/academia-background.png);
    */
}

.header-body {
    padding: 120px;
}


.logo {
    width: 150px;
}

