<body>
  <div class="planos">
    <p class="title">Pacotes</p>
    <h1 style="margin-bottom: 2rem">Nossos pacotes</h1>
    <div class="tipos mb-5">
      <div class="tipos-container">
        <button
          *ngIf="mensaisSelecionado"
          type="button"
          class="btn btn-dark"
          (click)="alterarTipo()"
        >
          Mensais
        </button>
        <button
          *ngIf="!mensaisSelecionado"
          type="button"
          class="btn btn-light"
          (click)="alterarTipo()"
        >
          Mensais
        </button>
        <button
          *ngIf="!anuaisSelecionado"
          type="button"
          class="btn btn-light"
          (click)="alterarTipo()"
        >
          Anuais
        </button>
        <button
          *ngIf="anuaisSelecionado"
          type="button"
          class="btn btn-dark"
          (click)="alterarTipo()"
        >
          Anuais
        </button>
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <p class="title">Pacote Afrodite</p>
          <h1 class="card-preco">
            R$ {{ pacotes.afrodite | number : "1.2-2" }}
          </h1>
          <ul>
           <li>Acesso a todas as áreas da academia (musculação, cardio, etc.)</li>
           <li>Participação ilimitada em aulas coletivas (yoga, zumba, etc.)</li>
           <li>Avaliação física inicial gratuita</li>
           <li>Plano de treino personalizado</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="title">Pacote Hércules</p>
          <h1 class="card-preco">
            R$ {{ pacotes.hercules | number : "1.2-2" }}
          </h1>
          <ul>
            <li>Todos os benefícios do plano Afrodite</li>
            <li>1 sessão gratuita com personal trainer</li>
            <li>Avaliação física a cada 3 meses</li>
            <li>Direito a trazer um amigo para treinar gratuitamente uma vez por mês</li>

          </ul>
        </div>
      </div>

      

      <div class="card">
        <div class="card-body">
          <p class="title">Pacote Zeus</p>
          <h1 class="card-preco">R$ {{ pacotes.zeus | number : "1.2-2" }}</h1>
          <ul>
            <li>Todos os benefícios do plano Hércules</li>
            <li>3 sessões gratuitas com personal trainer</li>
            <li>Avaliação física a cada 2 meses</li>
            <li>Direito a trazer um amigo para treinar gratuitamente duas vezes por mês</li>
            <li>Camiseta ou kit fitness de brinde</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="ajuste-footer"></div>
</body>
